<!DOCTYPE html>
<html lang="en">
<head>
    {{template "macro_head_script" .}}
</head>
<body>
{{template "macro_header"}}

<div class="container" id="container">
    <div class="row" id="content">
        {{template "common_notice"}}
        <div class="col-md-12">
            <h1>宏工具</h1>
            <h4>
                欢迎使用宏制作及分享工具！
            </h4><br><br>
            <p>
                本工具旨在提供魔兽世界宏命令创建及收集、分享的平台，在这儿，你可以使用工具创建属于自己的宏命令；也可以将自己喜爱的宏分享到平台上，供所有的玩家使用；同时，还可以查看、修改其他可爱的玩家分享的宏，并且可以应用到自己的游戏中去！<br>
                另外，本工具也提供魔兽世界宏命令资料的分享及基础的教学，你可以学到基础的知识，并应用到自己的游戏中。
            </p>
        </div>
        <br><br>
        <div class="col-md-12">
            <div>
                <h3>1. 宏是什么？</h3>
                <p>
                    在魔兽世界中，宏是一种通过一次按键完成多个动作的方法。<br>
                    它可以将多个技能或者使用物品绑定到一个按钮上，通过按键或鼠标点击触发。这可以让你一次施放几个技能，避免一个技能一个技能的去点击，同时，通过绑定多个技能到一个按钮，也可以节省按钮栏位。<br>
                    不过，需要注意的是，绑定的多个技能不能有公共冷却时间，否则，后续的技能是不能施放的。
                </p>
            </div>

            <div>
                <h3>2. 宏怎么写？</h3>
                <p>
                    一般宏命令以#showtooltip开头，这个命令可以让你的按钮显示技能的说明和技能的图标。<br>
                    然后，在第二行开始加入你想要施放的技能，或者你想要使用的物品。<br>
                    比如：
                </p>
                <div class="well well-lg">
                    #showtooltip<br>
                    /cast 意气风发
                </div>
                <p>
                    如果你想要使用多个技能或者物品，可以添加多行来实现，比如：
                </p>
                <div class="well well-lg">
                    #showtooltip<br>
                    /cast 意气风发<br>
                    /cast 部落军旗<br>
                    /cast 灵魂石<br>
                </div>
                <p>
                    但是，一定要注意，多个技能或者物品在组合时，不能把会触发公共冷却时间的技能放在中间，你可以将顺发技能或物品放在前面，最后一个放一个会触发公共冷却时间的技能（只能放一个，且放在最后，否则，该技能后面的所有技能都不会施放成功）。<br>
                    比如：
                </p>
                <div class="well well-lg">
                    #showtooltip<br>
                    /cast 杀戮<br>
                    /cast 意气风发<br>
                    /cast 部落军旗<br>
                    /cast 灵魂石<br>
                </div>
                <p>
                    以上第一个技能：杀戮，会触发公共冷却时间，施放该技能后，动作条上的大部分技能都会有大概1秒左右的冷却时间，也就是图标在转圈，转圈结束前，其他技能点击都不会施放，图标转圈的这些技能就是有公共冷却时间的技能，这些技能就不能同时绑定在一起。比如上面的技能：意气风发，宏命令执行到这儿时，判定该技能处于公共冷却时间中，不能施放，那么整个宏就停止执行了。<br>
                    其他那些图标没有转圈的技能（基本都是顺发技能和饰品）,是可以随意组合的。<br>
                    我们修改一下以上组合，只保留一个有公共冷却时间的，其他的技能顺序可以随意组合，比如：
                </p>
                <div class="well well-lg">
                    #showtooltip<br>
                    /cast 部落军旗<br>
                    /cast 灵魂石<br>
                    /cast 意气风发<br>
                </div>
                <p>
                    另外，多个有公共冷却时间的技能也可以使用/castsequence命令组合，命令字面意思就是，按顺序施放，也就是说多个技能每次点击只能施放一个，并且施放顺序是宏命令设定的顺序。<br>
                    比如：
                </p>
                <div class="well well-lg">
                    #showtooltip<br>
                    /castsequence reset=20 狂野怒火,杀戮,倒刺射击,眼镜蛇射击
                </div>
                <p>
                    以上技能，按顺序执行，第一次点击施放：狂野怒火，再次点击，就施放：杀戮，一直到执行完所有技能，才会重置顺序，跳转到第一个技能重新开始。<br>
                    需要注意的是，如果某个技能处于冷却时间中，那么依次执行到该技能时，你点击宏命令，此时该技能是不能被执行的，所以/castsequence宏命令会一直卡在这个技能这儿，直到它冷却完成，可以被施放，才会调到下一个技能。<br>
                    另外，reset=20的意思是，在你最后依次点击宏命令之后，20秒内都没有再次点击，那么/castsequence宏命令会自动重置到第一个技能处，重新开始顺序执行，每点击依次，执行几个技能。
                </p>
            </div>
        </div>
       <div class="col-md-12">
               <h3>3. 什么是命令条件语？</h3>
               <p>
               命令条件语是插入在宏命令中，使宏根据条件执行不同功能的语句。举个例子，下面这 个宏的作用是，如果是友方目标就施放回春术，如果是敌方目标就施放月火术。
               </p>
               <div class="well well-lg">
                    #showtooltip<br>
                    /cast [help]回春术;[harm]月火术
                </div>
               <p>
                   当这个宏执行时，首先检查[help]条件，判断当前目标是否是一个可以接受治 疗/增益法术的目标。如果[help]条件成立，那么就施放"回春术"并执行下一条命令，否则(即没有目标，或目标不接受有益技能)继续执行下一个子句，也就是分号后[harm]那里，再判断[harm]条件。[harm]条件和[help]条件相反，判断目标是否接受敌对法术。同上，如果条件成立就释放“月火术”并执行下 一条命令。如果条件不成立，由于后面没有其他子句，这条宏命令就算执行完了，但是什么动作都没有做。<br>
                   注：如果没有写[harm]条件，实际运行效果是差不多的。不过，如果你没有目标或者当前目标 不接受任何法术，那么屏幕上将会出现错误信息，或者对于某些技能，鼠标将会变成选择施放目标的状态。
               </p>
       </div>
        <div class="col-md-12">
            <h3>4. 怎么使用宏？</h3>
            <p>
                把你写好的宏复制一下，然后打开游戏，在聊天框输入/m，或者按ESC，点击”宏命令设置”，新建一个宏，粘贴进去之后，把新建的宏拖动到动作条上就可以使用了！<br>
                首先，打开你的宏窗口：单击主菜单上的“宏”按钮，或者在聊天界面中输入/macro(/m)回车。在宏窗口的顶端，可以看见两个标签：“通用宏”和"你的角色名"的专用宏”。通用宏被存储在账号专有的文件夹中，被所有角色共享。而角色专用宏则存储在角色自己的文件夹下，是角色专用的。 在标签下面是18个存放宏的栏位。再往下是一个栏位，用于显示当前选中的宏；还有一个“修改名称/图标”的按钮，用于修改选中的宏。然后是一个用于显示、编辑当前宏的文本框。<br>
                现在，把你写好的宏复制一下，新建一个宏，把文本粘贴进去之后，点击保存，然 后把新建的宏拖动到动作条上就可以使用了！
            </p>
            <p>
                由于宏命令较多，此处只选取了其中两个做了简单的介绍，如果需要查看和使用更多的宏命令，请查看<a href="/macro/view/byHand">手动组合</a><br>
                如果需要更深入的学习，那么可以去<a href="/macro/view/info">宏资料</a>，那里有许多资料和工具能够帮助到你！
            </p>
            <p>
               以下是当前客户端中常用的安全化命令的列表（如果需要查看和使用更多的宏命令，请查看<a href="/macro/view/byHand">手动组合</a>）：<br>
#showtooltip -- 显示技能图标及描述<br>
/assisti -- 协助<br>
/cancelaura -- 取消技能<br>
/cast -- 施放技能<br>
/castsequence -- 按顺序施放技能<br>
/clearfocus -- 清除设置的焦点<br>
/cleartarget -- 清除当前目标<br>
/equip -- 装备物品<br>
/focus -- 设置焦点<br>
/startattack -- 开始攻击<br>
/stopattack -- 停止攻击<br>
/stopcasting -- 停止施放动作<br>
/stopmacro -- 停止执行宏命令<br>
/swapactionbar -- 切换动作条<br>
/target -- 设置目标<br>
/targetenemy -- 设置最近的敌人为目标<br>
/use -- 使用物品<br>
           </p>
        </div>
	</div>
    {{template "common_footer"}}
</div>
</body>
</html>