<!DOCTYPE html>
<html lang="en">
<head>
    <title>宏工具-资料指南</title>
    {{template "macro_head_script" .}}
</head>
<body>
{{template "macro_header"}}

<div class="container" id="container">
	<div class="row" id="content">
		<div class="col-md-12">
			<h3>qq交流群：923174332</h3>
			<p>
				建议没有任何基础的wower先看看基础资料！！！
			</p>
		</div>
	</div>
    <div class="row">
		<h3>参考资料：</h3>
        <ul class="list-group">
            <a href="https://bbs.nga.cn/read.php?tid=1858624">
                <li class="list-group-item">[基础讲的比较详细-推荐]《考格威尔(Cogwheel's)宏命令完全指南》</li>
            </a>
            <a href="https://bbs.nga.cn/read.php?tid=1014862">
                <li class="list-group-item">TBC宏指南(Cogwheel's Complete Macro Guide)</li>
            </a>
            <a href="https://bbs.nga.cn/read.php?tid=2329476">
                <li class="list-group-item">宏命令全表</li>
            </a>
			<a href="http://api.battlenet.top">
				<li class="list-group-item">插件开发：魔兽世界API（中文）</li>
			</a>
            <a href="https://bbs.nga.cn/read.php?tid=1599813">
                <li class="list-group-item">北美官网推荐教程：《宏命令完全指南》</li>
            </a>
			<a href="https://wow.gamepedia.com/World_of_Warcraft_API#Location_Functions">
				<li class="list-group-item text-danger">World of Warcraft API（国外）</li>
			</a>
			<a href="https://wow.gamepedia.com/Macro_commands">
				<li class="list-group-item text-danger">Macro commands（国外）</li>
			</a>
		</ul>
    </div>

	<div class="row">
		<h3>楼主开发的PVP插件：</h3>
		<ul class="list-group">
			<a href="https://bbs.nga.cn/read.php?tid=15477121">
				<li class="list-group-item">PVPInfo -- 显示玩家PVP数据插件</li>
			</a>
		</ul>
	</div>
	<br>
	<br>
</div>
</body>
</html>