body {
	/*background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;*/
	background-color: #080808;
	color: #cccccc;
	/*margin-top: 70px;*/
}

.navbar-inverse .navbar-nav > .active > a {
	/*background-color: #337ab7;
	border-radius: 10px;*/
}

#content, #container, .container {
	/*background-color: #080808;*/
	background-color: rgba(0, 0, 0, 0.7);
}

.well {
	background-color: #080808;
}

#title-ul li {
	cursor: pointer;
}

.list-group-item {
	background-color: #080808;
	background-color: rgba(0, 0, 0, 0.4);
	border-color: #337ab7;
}

a.list-group-item, button.list-group-item {
	color: #cccccc;
}

#title-header {
	/*height: 700px;*/
	/*overflow-y: auto;*/
	/*overflow-x: hidden;*/
}

.home-active, .active {
	color: #cccccc;
	background-color: #080808;
}

table, table tr, table tr td {
	color: #cccccc;
	background-color: #080808;
}

table .form-control, table pre {
	color: #cccccc;
	padding: 10px;
	border: 0px;
	background-color: #080808;
	border-radius: 5px;
}

.show-background {
	color: #cccccc;
	padding: 10px;
	border: 0px;
	background-color: #080808;
	border-radius: 5px;
}