<!DOCTYPE html>
<html lang="en">
<head>
	{{template "api_head_script" .}}
</head>
<body>
{{template "api_header"}}
<div class="container">
	<div class="row" id="content">
		<div id="title-header" class="col-md-3 col-xs-4">
		{{template "title"}}
		</div>
		<div class="col-md-9 col-xs-8">
			<div class="panel-heading h2">部件处理函数 API</div>
			<div class="panel-body">
				<p>
					这是通过扫描游戏内环境找到的所有Widget API函数的列表。您可能还对各种Widget处理程序感兴趣。
				</p>
			</div>

			<!-- Table -->
			{{template "table"}}
		</div>
	</div>
    {{template "common_footer"}}
</div>
</body>
</html>