<!DOCTYPE html>
<html lang="en">
<head>
    <title>宏工具-资料指南</title>
    {{template "macro_head_script" .}}
</head>
<body>
{{template "macro_header"}}

<div class="container" id="container">
	<div class="row" id="content">
		<div class="col-md-12">
			<h3>qq交流群：923174332</h3>
			<p>
				建议没有任何基础的wower先看看基础资料！！！
			</p>
		</div>
	</div>
    <div class="row">
		<h3>参考资料：</h3>
        <ul class="list-group">
            <a href="https://ngabbs.com/read.php?tid=18301047">
                <li class="list-group-item">BigFoot大脚怀旧版</li>
            </a>
            <a href="https://ngabbs.com/read.php?tid=18325843&fav=ad6a0940">
                <li class="list-group-item">[插件讨论]福利宏合集分享[挂机暂离,血条,视距,tab距离,职业聊天颜色]</li>
            </a>
            <a href="https://ngabbs.com/read.php?tid=18129760&fav=618709a9">
                <li class="list-group-item">[神秘代码]不装插件也能做到的界面功能增强！超简单！超方便！</li>
            </a>
            <a href="https://bbs.nga.cn/read.php?tid=1858624">
                <li class="list-group-item">[基础讲的比较详细,正式服和怀旧服基本通用]《考格威尔(Cogwheel's)宏命令完全指南》</li>
            </a>
            <a href="https://bbs.nga.cn/read.php?tid=1014862">
                <li class="list-group-item">TBC宏指南(Cogwheel's Complete Macro Guide)（基本通用）</li>
            </a>
			<a href="https://wow.gamepedia.com/Macro_commands">
				<li class="list-group-item text-danger">Macro commands（国外）</li>
			</a>
		</ul>
    </div>

	<br>
	<br>
</div>
</body>
</html>